*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Imagen de referencia pendiente de revisar sus derechos de uso
/docs/assets/nightcall_launcher_master.jpg
/docs/assets/nightcall_launcher_master.png
local.properties
